{% extends "base.html" %}

{% block content %}

    <main>
        <section class="blog">
            <h2>Blog Post Title</h2>
            <p>This is a sample blog post content. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </section>
        
        <section class="blog">
            <h2>Blog Post Title</h2>
            <p>This is a sample blog post content. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </section>
        
        <section class="blog">
            <h2>Blog Post Title</h2>
            <p>This is a sample blog post content. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </section>
    </main>
</body>
</html>



{% endblock  %}