{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello Django</title>
    <link rel="icon" type="image/x-icon" href="/static/images/Data Mind Matrix.png">
    
    <link rel="stylesheet" href="{% static '/assets/css/main.css' %}">
</head>
<body>
    <header>
        <div class="logo">
            <a href="/"><img src="/static/images/Data Mind Matrix.png" alt="Your Company Logo"></a>
        </div>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/blogs">Blogs</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>
