{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello Django</title>
    <link rel="stylesheet" href="{% static '/assets/css/main.css' %}">
</head>
<body>
    <header>
        <div class="logo">
            <a href="/"><img src="https://imgs.search.brave.com/jzDlpQmvTCnP6fEt-6Vqfc3cMmLQ_H6gFRWXDW02xWo/rs:fit:860:0:0/g:ce/aHR0cHM6Ly90ZW1w/bGF0ZS5jYW52YS5j/b20vRUFFRkg5V0k0/YWMvMS8wLzQwMHct/RjRRQm1Bc2JpUjQu/anBn" alt="Your Company Logo"></a>
        </div>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/blogs">Blogs</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>
