{% extends "base.html" %}

{% block content%}

<body>
    <section class="ai-development">
        <div class="container">
            <h2>AI Development and Its Branches</h2>
            <div class="row">
                <div class="column">
                    <h3>Branches of AI</h3>
                    <ul>
                        <li>Machine Learning</li>
                        <li>Natural Language Processing (NLP)</li>
                        <li>Computer Vision</li>
                        <li>Robotics</li>
                        <li>Expert Systems</li>
                        <li>Speech Recognition</li>
                    </ul>
                </div>
                <div class="column">
                    <h3>Languages for AI Development</h3>
                    <ul>
                        <li>Python</li>
                        <li>R</li>
                        <li>Java</li>
                        <li>C++</li>
                        <li>JavaScript</li>
                        <li>Scala</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    
</body>

{% endblock content%}
