{% extends "base.html" %} 
{% block content %}
<main>
  <section class="services">
    <div class="container">
      <div class="row">
        <h2>Learn</h2>
        <div class="searchbar">
          <form method="get">
            <input type="text" name="service_name" value="" />
            <input type="submit" value="Search"/>
          </form>
        </div>
      </div>
      <p>Transform your learning using Different Modules</p>
      <br /><br />
      
      <div class="row justify-content-center">
        <div class="service-blocks">
          <div class="row">
            {% for i in servicesData %}
              <div class="col-md-4">
                <div class="service">
                  <img src="{{ i.service_icon }}" class="service-icon" />
                  <h3>{{ i.service_title }}</h3>
                  <p>{{ i.service_des }}</p>
                </div>
              </div>
              {% if forloop.counter|divisibleby:3 and not forloop.last %}
                </div>
                <div class="row">
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>

      <div class="tools">
        <h2>Tools</h2>
        <div class="tools-ad">
          <a href="/calc">Calculator</a>
          <a href="/evenodd">Even Odd</a>
          <a href="/marksheet">marksheet</a>
        </div>
      </div>

  </div>
  </section>

</main>
{% endblock %}
