{% extends "base.html" %} 
{% block content%}
<main>
  <section class="services">
    <div class="container">
      <h2>Learn</h2>
      <p>Transform your learning using Different Modules</p>
      <br /><br />

      <div class="service-blocks">
        {% for i in servicesData%}
          <div class="service">
            <img src="{{ i.service_icon }}" class="service-icon" />
            <h3>{{ i.service_title }}</h3>
            <p>{{ i.service_des }}</p>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
</main>
{% endblock %}
