{% extends "base.html" %} 
{% block content %}
<main>
  <h2>User Form</h2>
  <section class="form">
    <div class="row">
      <div class="col-12">
        <form method="post">
          {% csrf_token %} 
          {{form}} 
          {% comment %}
          <div class="form-group">
            <label for="num1">Value 1</label>
            <input
              type="text"
              id="num1"
              name="num1"
              value="{{n1}}"
              class="form-control"
            />
          </div>
          <div class="form-group">
            <label for="num2">Value 2</label>
            <input
              type="text"
              id="num2"
              name="num2"
              value="{{n1}}"
              class="form-control"
            />
          </div>
          {% endcomment %}
          <button type="submit" class="btn btn-primary">Save</button>
        </form>
        <div class="output">
          <label for="result">Output</label>
          <input
            type="text"
            id="result"
            name="result"
            value="{{output}}"
            class="form-control"
            readonly
          />
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}
